@charset "UTF-8";
.blueprint {
	background-color:#269;
	background-image: linear-gradient(white 2px, transparent 2px),
	linear-gradient(90deg, white 2px, transparent 2px),
	linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
	linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
	background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
}

.paper {
	background-color: #fff; 
	background-image: 
	linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
	linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;
}
.stars {
	background-color:black;
	background-image:
	radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
	radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
	radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
	radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.carbon {
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;
}
.weaved {
	background:
	linear-gradient(135deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
	linear-gradient(225deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
	background-color:#708090;
	background-size: 64px 128px
}
/* Plaid backgrounds from Standardista */
/* CSS Document */
.wwhoknows {
	background-image:	
	-webkit-linear-gradient(45deg,
		rgba(0, 0, 0, 0.05) 25%,
		rgba(0, 0, 0, 0.00) 25%,
		rgba(0, 0, 0, 0.00) 50%,
		rgba(0, 0, 0, 0.05) 50%,
		rgba(0, 0, 0, 0.05) 75%,
		rgba(0, 0, 0, 0.00) 75%
	),
	-webkit-linear-gradient(-45deg, 
		rgba(0, 0, 0, 0.05) 25%,
		rgba(0, 0, 0, 0.00) 25%,
		rgba(0, 0, 0, 0.00) 50%,
		rgba(0, 0, 0, 0.05) 50%,
		rgba(0, 0, 0, 0.05) 75%,
		rgba(0, 0, 0, 0.00) 75%
	),
	-webkit-linear-gradient(45deg,
		rgba(0, 0, 0, 0.05) 25%,
		rgba(0, 0, 0, 0.00) 25%,
		rgba(0, 0, 0, 0.00) 50%,
		rgba(0, 0, 0, 0.05) 50%,
		rgba(0, 0, 0, 0.05) 75%,
		rgba(0, 0, 0, 0.00) 75%
	),
	-webkit-linear-gradient(-45deg, 
		rgba(0, 0, 0, 0.05) 25%,
		rgba(0, 0, 0, 0.00) 25%,
		rgba(0, 0, 0, 0.00) 50%,
		rgba(0, 0, 0, 0.05) 50%,
		rgba(0, 0, 0, 0.05) 75%,
		rgba(0, 0, 0, 0.00) 75%
	),
	-webkit-linear-gradient(90deg, #7673F9, #ffffff)
	;
	background-image:	
	-moz-linear-gradient(45deg,
		rgba(0, 0, 0, 0.05) 25%,
		rgba(0, 0, 0, 0.00) 25%,
		rgba(0, 0, 0, 0.00) 50%,
		rgba(0, 0, 0, 0.05) 50%,
		rgba(0, 0, 0, 0.05) 75%,
		rgba(0, 0, 0, 0.00) 75%
	),
	-moz-linear-gradient(-45deg, 
		rgba(0, 0, 0, 0.05) 25%,
		rgba(0, 0, 0, 0.00) 25%,
		rgba(0, 0, 0, 0.00) 50%,
		rgba(0, 0, 0, 0.05) 50%,
		rgba(0, 0, 0, 0.05) 75%,
		rgba(0, 0, 0, 0.00) 75%
	),
	-moz-linear-gradient(45deg,
		rgba(0, 0, 0, 0.05) 25%,
		rgba(0, 0, 0, 0.00) 25%,
		rgba(0, 0, 0, 0.00) 50%,
		rgba(0, 0, 0, 0.05) 50%,
		rgba(0, 0, 0, 0.05) 75%,
		rgba(0, 0, 0, 0.00) 75%
	),
	-moz-linear-gradient(-45deg, 
		rgba(0, 0, 0, 0.05) 25%,
		rgba(0, 0, 0, 0.00) 25%,
		rgba(0, 0, 0, 0.00) 50%,
		rgba(0, 0, 0, 0.05) 50%,
		rgba(0, 0, 0, 0.05) 75%,
		rgba(0, 0, 0, 0.00) 75%
	),
	-moz-linear-gradient(90deg, #7673F9, #ffffff)
	;
	background-image:	
	-ms-linear-gradient(45deg,
		rgba(0, 0, 0, 0.05) 25%,
		rgba(0, 0, 0, 0.00) 25%,
		rgba(0, 0, 0, 0.00) 50%,
		rgba(0, 0, 0, 0.05) 50%,
		rgba(0, 0, 0, 0.05) 75%,
		rgba(0, 0, 0, 0.00) 75%
	),
	-ms-linear-gradient(-45deg, 
		rgba(0, 0, 0, 0.05) 25%,
		rgba(0, 0, 0, 0.00) 25%,
		rgba(0, 0, 0, 0.00) 50%,
		rgba(0, 0, 0, 0.05) 50%,
		rgba(0, 0, 0, 0.05) 75%,
		rgba(0, 0, 0, 0.00) 75%
	),
	-ms-linear-gradient(45deg,
		rgba(0, 0, 0, 0.05) 25%,
		rgba(0, 0, 0, 0.00) 25%,
		rgba(0, 0, 0, 0.00) 50%,
		rgba(0, 0, 0, 0.05) 50%,
		rgba(0, 0, 0, 0.05) 75%,
		rgba(0, 0, 0, 0.00) 75%
	),
	-ms-linear-gradient(-45deg, 
		rgba(0, 0, 0, 0.05) 25%,
		rgba(0, 0, 0, 0.00) 25%,
		rgba(0, 0, 0, 0.00) 50%,
		rgba(0, 0, 0, 0.05) 50%,
		rgba(0, 0, 0, 0.05) 75%,
		rgba(0, 0, 0, 0.00) 75%
	),
	-ms-linear-gradient(90deg, #7673F9, #ffffff)
	;
	background-image:	
	-o-linear-gradient(45deg,
		rgba(0, 0, 0, 0.05) 25%,
		rgba(0, 0, 0, 0.00) 25%,
		rgba(0, 0, 0, 0.00) 50%,
		rgba(0, 0, 0, 0.05) 50%,
		rgba(0, 0, 0, 0.05) 75%,
		rgba(0, 0, 0, 0.00) 75%
	),
	-o-linear-gradient(-45deg, 
		rgba(0, 0, 0, 0.05) 25%,
		rgba(0, 0, 0, 0.00) 25%,
		rgba(0, 0, 0, 0.00) 50%,
		rgba(0, 0, 0, 0.05) 50%,
		rgba(0, 0, 0, 0.05) 75%,
		rgba(0, 0, 0, 0.00) 75%
	),
	-o-linear-gradient(45deg,
		rgba(0, 0, 0, 0.05) 25%,
		rgba(0, 0, 0, 0.00) 25%,
		rgba(0, 0, 0, 0.00) 50%,
		rgba(0, 0, 0, 0.05) 50%,
		rgba(0, 0, 0, 0.05) 75%,
		rgba(0, 0, 0, 0.00) 75%
	),
	-o-linear-gradient(-45deg, 
		rgba(0, 0, 0, 0.05) 25%,
		rgba(0, 0, 0, 0.00) 25%,
		rgba(0, 0, 0, 0.00) 50%,
		rgba(0, 0, 0, 0.05) 50%,
		rgba(0, 0, 0, 0.05) 75%,
		rgba(0, 0, 0, 0.00) 75%
	),
	-o-linear-gradient(90deg, #7673F9, #ffffff)
	;
	background-image:	
	linear-gradient(45deg,
		rgba(0, 0, 0, 0.05) 25%,
		rgba(0, 0, 0, 0.00) 25%,
		rgba(0, 0, 0, 0.00) 50%,
		rgba(0, 0, 0, 0.05) 50%,
		rgba(0, 0, 0, 0.05) 75%,
		rgba(0, 0, 0, 0.00) 75%
	),
	linear-gradient(-45deg, 
		rgba(0, 0, 0, 0.05) 25%,
		rgba(0, 0, 0, 0.00) 25%,
		rgba(0, 0, 0, 0.00) 50%,
		rgba(0, 0, 0, 0.05) 50%,
		rgba(0, 0, 0, 0.05) 75%,
		rgba(0, 0, 0, 0.00) 75%
	),
	linear-gradient(45deg,
		rgba(0, 0, 0, 0.05) 25%,
		rgba(0, 0, 0, 0.00) 25%,
		rgba(0, 0, 0, 0.00) 50%,
		rgba(0, 0, 0, 0.05) 50%,
		rgba(0, 0, 0, 0.05) 75%,
		rgba(0, 0, 0, 0.00) 75%
	),
	linear-gradient(-45deg, 
		rgba(0, 0, 0, 0.05) 25%,
		rgba(0, 0, 0, 0.00) 25%,
		rgba(0, 0, 0, 0.00) 50%,
		rgba(0, 0, 0, 0.05) 50%,
		rgba(0, 0, 0, 0.05) 75%,
		rgba(0, 0, 0, 0.00) 75%
	),
	linear-gradient(90deg, #7673F9, #ffffff)
	;
	background-position: 0 0, 0 0, 80px 50px, 80px 50px, 0 0;                                                         
	-moz-background-size: 160px 50px, 160px 50px,160px 50px, 160px 50px, 100%;                                           
	background-size: 160px 50px, 160px 50px,160px 50px, 160px 50px, 100%;
}

.plaid {
	background-image:	
	-webkit-linear-gradient(45deg,
		rgba(255, 255, 255,  0.15) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  0.15) 50%,
		rgba(255, 255, 255,  0.15) 75%,
		rgba(255, 255, 255,  0.0) 75%
	),
	-webkit-linear-gradient(-45deg, 
		rgba(255, 255, 255,  0.15) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  0.15) 50%,
		rgba(255, 255, 255,  0.15) 75%,
		rgba(255, 255, 255,  0.0) 75%
	),
	-webkit-linear-gradient(45deg,
		rgba(255, 255, 255,  0.15) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  0.15) 50%,
		rgba(255, 255, 255,  0.15) 75%,
		rgba(255, 255, 255,  0.0) 75%
	),
	-webkit-linear-gradient(-45deg, 
		rgba(255, 255, 255,  0.15) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  0.15) 50%,
		rgba(255, 255, 255,  0.15) 75%,
		rgba(255, 255, 255,  0.0) 75%
	)
	;
	background-image:	
	-moz-linear-gradient(45deg,
		rgba(255, 255, 255,  0.15) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  0.15) 50%,
		rgba(255, 255, 255,  0.15) 75%,
		rgba(255, 255, 255,  0.0) 75%
	),
	-moz-linear-gradient(-45deg, 
		rgba(255, 255, 255,  0.15) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  0.15) 50%,
		rgba(255, 255, 255,  0.15) 75%,
		rgba(255, 255, 255,  0.0) 75%
	),
	-moz-linear-gradient(45deg,
		rgba(255, 255, 255,  0.15) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  0.15) 50%,
		rgba(255, 255, 255,  0.15) 75%,
		rgba(255, 255, 255,  0.0) 75%
	),
	-moz-linear-gradient(-45deg, 
		rgba(255, 255, 255,  0.15) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  0.15) 50%,
		rgba(255, 255, 255,  0.15) 75%,
		rgba(255, 255, 255,  0.0) 75%
	)
	;
	background-image:	
	-ms-linear-gradient(45deg,
		rgba(255, 255, 255,  0.15) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  0.15) 50%,
		rgba(255, 255, 255,  0.15) 75%,
		rgba(255, 255, 255,  0.0) 75%
	),
	-ms-linear-gradient(-45deg, 
		rgba(255, 255, 255,  0.15) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  0.15) 50%,
		rgba(255, 255, 255,  0.15) 75%,
		rgba(255, 255, 255,  0.0) 75%
	),
	-ms-linear-gradient(45deg,
		rgba(255, 255, 255,  0.15) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  0.15) 50%,
		rgba(255, 255, 255,  0.15) 75%,
		rgba(255, 255, 255,  0.0) 75%
	),
	-ms-linear-gradient(-45deg, 
		rgba(255, 255, 255,  0.15) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  0.15) 50%,
		rgba(255, 255, 255,  0.15) 75%,
		rgba(255, 255, 255,  0.0) 75%
	)
	;background-image:	
	-o-linear-gradient(45deg,
		rgba(255, 255, 255,  0.15) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  0.15) 50%,
		rgba(255, 255, 255,  0.15) 75%,
		rgba(255, 255, 255,  0.0) 75%
	),
	-o-linear-gradient(-45deg, 
		rgba(255, 255, 255,  0.15) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  0.15) 50%,
		rgba(255, 255, 255,  0.15) 75%,
		rgba(255, 255, 255,  0.0) 75%
	),
	-o-linear-gradient(45deg,
		rgba(255, 255, 255,  0.15) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  0.15) 50%,
		rgba(255, 255, 255,  0.15) 75%,
		rgba(255, 255, 255,  0.0) 75%
	),
	-o-linear-gradient(-45deg, 
		rgba(255, 255, 255,  0.15) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  0.15) 50%,
		rgba(255, 255, 255,  0.15) 75%,
		rgba(255, 255, 255,  0.0) 75%
	)
	;
	background-image:	
	linear-gradient(45deg,
		rgba(255, 255, 255,  0.15) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  0.15) 50%,
		rgba(255, 255, 255,  0.15) 75%,
		rgba(255, 255, 255,  0.0) 75%
	),
	linear-gradient(-45deg, 
		rgba(255, 255, 255,  0.15) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  0.15) 50%,
		rgba(255, 255, 255,  0.15) 75%,
		rgba(255, 255, 255,  0.0) 75%
	),
	linear-gradient(45deg,
		rgba(255, 255, 255,  0.15) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  0.15) 50%,
		rgba(255, 255, 255,  0.15) 75%,
		rgba(255, 255, 255,  0.0) 75%
	),
	linear-gradient(-45deg, 
		rgba(255, 255, 255,  0.15) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  0.15) 50%,
		rgba(255, 255, 255,  0.15) 75%,
		rgba(255, 255, 255,  0.0) 75%
	)
	;
	background-color: #900;
	background-position: 0 0, 0 0, 80px 50px, 80px 50px;                                                         
	-moz-background-size: 160px 50px, 160px 50px,160px 50px, 160px 50px;                                             
	background-size: 160px 50px, 160px 50px,160px 50px, 160px 50px;
}

.whiteplaid {
	background-image:	
	-webkit-linear-gradient(45deg,
		rgba(255, 255, 255,  0.2) 0%,
		rgba(255, 255, 255,  1.0) 0.5%,
		rgba(255, 255, 255,  0.2) 1%,
		rgba(255, 255, 255,  0.2) 12%,
		rgba(255, 255, 255,  1.0) 12.5%,
		rgba(255, 255, 255,  0.2) 13%,
		rgba(255, 255, 255,  0.2) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  1.0) 50.5%,
		rgba(255, 255, 255,  0.2) 51%,
		rgba(255, 255, 255,  0.2) 62%,
		rgba(255, 255, 255,  1.0) 62.5%,
		rgba(255, 255, 255,  0.2) 63%,
		rgba(255, 255, 255,  0.2) 75%,
		rgba(255, 255, 255,  0.0) 75%
	),
	-webkit-linear-gradient(-45deg, 
	
		rgba(255, 255, 255,  0.2) 0%,
		rgba(255, 255, 255,  1.0) 0.5%,
		rgba(255, 255, 255,  0.2) 1%,
		rgba(255, 255, 255,  0.2) 12%,
		rgba(255, 255, 255,  1.0) 12.5%,
		rgba(255, 255, 255,  0.2) 13%,
		rgba(255, 255, 255,  0.2) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  1.0) 50.5%,
		rgba(255, 255, 255,  0.2) 51%,
		rgba(255, 255, 255,  0.2) 62%,
		rgba(255, 255, 255,  1.0) 62.5%,
		rgba(255, 255, 255,  0.2) 63%,
		rgba(255, 255, 255,  0.2) 75%,
		rgba(255, 255, 255,  0.0) 75%
	),
	-webkit-linear-gradient(45deg,
		rgba(255, 255, 255,  0.2) 0%,
		rgba(255, 255, 255,  1.0) 0.5%,
		rgba(255, 255, 255,  0.2) 1%,
		rgba(255, 255, 255,  0.2) 12%,
		rgba(255, 255, 255,  1.0) 12.5%,
		rgba(255, 255, 255,  0.2) 13%,
		rgba(255, 255, 255,  0.2) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  1.0) 50.5%,
		rgba(255, 255, 255,  0.2) 51%,
		rgba(255, 255, 255,  0.2) 62%,
		rgba(255, 255, 255,  1.0) 62.5%,
		rgba(255, 255, 255,  0.2) 63%,
		rgba(255, 255, 255,  0.2) 75%,
		rgba(255, 255, 255,  0.0) 75%
	),
	-webkit-linear-gradient(-45deg, 
		rgba(255, 255, 255,  0.2) 0%,
		rgba(255, 255, 255,  1.0) 0.5%,
		rgba(255, 255, 255,  0.2) 1%,
		rgba(255, 255, 255,  0.2) 12%,
		rgba(255, 255, 255,  1.0) 12.5%,
		rgba(255, 255, 255,  0.2) 13%,
		rgba(255, 255, 255,  0.2) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  1.0) 50.5%,
		rgba(255, 255, 255,  0.2) 51%,
		rgba(255, 255, 255,  0.2) 62%,
		rgba(255, 255, 255,  1.0) 62.5%,
		rgba(255, 255, 255,  0.2) 63%,
		rgba(255, 255, 255,  0.2) 75%,
		rgba(255, 255, 255,  0.0) 75%
	)
	/* optional background gradient instead of gray */
	;
	
	background-image:	
	-moz-linear-gradient(45deg,
		rgba(255, 255, 255,  0.2) 0%,
		rgba(255, 255, 255,  1.0) 0.5%,
		rgba(255, 255, 255,  0.2) 1%,
		rgba(255, 255, 255,  0.2) 12%,
		rgba(255, 255, 255,  1.0) 12.5%,
		rgba(255, 255, 255,  0.2) 13%,
		rgba(255, 255, 255,  0.2) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  1.0) 50.5%,
		rgba(255, 255, 255,  0.2) 51%,
		rgba(255, 255, 255,  0.2) 62%,
		rgba(255, 255, 255,  1.0) 62.5%,
		rgba(255, 255, 255,  0.2) 63%,
		rgba(255, 255, 255,  0.2) 75%,
		rgba(255, 255, 255,  0.0) 75%
	),
	-moz-linear-gradient(-45deg, 
	
		rgba(255, 255, 255,  0.2) 0%,
		rgba(255, 255, 255,  1.0) 0.5%,
		rgba(255, 255, 255,  0.2) 1%,
		rgba(255, 255, 255,  0.2) 12%,
		rgba(255, 255, 255,  1.0) 12.5%,
		rgba(255, 255, 255,  0.2) 13%,
		rgba(255, 255, 255,  0.2) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  1.0) 50.5%,
		rgba(255, 255, 255,  0.2) 51%,
		rgba(255, 255, 255,  0.2) 62%,
		rgba(255, 255, 255,  1.0) 62.5%,
		rgba(255, 255, 255,  0.2) 63%,
		rgba(255, 255, 255,  0.2) 75%,
		rgba(255, 255, 255,  0.0) 75%
	),
	-moz-linear-gradient(45deg,
		rgba(255, 255, 255,  0.2) 0%,
		rgba(255, 255, 255,  1.0) 0.5%,
		rgba(255, 255, 255,  0.2) 1%,
		rgba(255, 255, 255,  0.2) 12%,
		rgba(255, 255, 255,  1.0) 12.5%,
		rgba(255, 255, 255,  0.2) 13%,
		rgba(255, 255, 255,  0.2) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  1.0) 50.5%,
		rgba(255, 255, 255,  0.2) 51%,
		rgba(255, 255, 255,  0.2) 62%,
		rgba(255, 255, 255,  1.0) 62.5%,
		rgba(255, 255, 255,  0.2) 63%,
		rgba(255, 255, 255,  0.2) 75%,
		rgba(255, 255, 255,  0.0) 75%
	),
	-moz-linear-gradient(-45deg, 
		rgba(255, 255, 255,  0.2) 0%,
		rgba(255, 255, 255,  1.0) 0.5%,
		rgba(255, 255, 255,  0.2) 1%,
		rgba(255, 255, 255,  0.2) 12%,
		rgba(255, 255, 255,  1.0) 12.5%,
		rgba(255, 255, 255,  0.2) 13%,
		rgba(255, 255, 255,  0.2) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  1.0) 50.5%,
		rgba(255, 255, 255,  0.2) 51%,
		rgba(255, 255, 255,  0.2) 62%,
		rgba(255, 255, 255,  1.0) 62.5%,
		rgba(255, 255, 255,  0.2) 63%,
		rgba(255, 255, 255,  0.2) 75%,
		rgba(255, 255, 255,  0.0) 75%
	)
	/* optional background gradient instead of gray */
	;	  
	background-image:	
	-ms-linear-gradient(45deg,
		rgba(255, 255, 255,  0.2) 0%,
		rgba(255, 255, 255,  1.0) 0.5%,
		rgba(255, 255, 255,  0.2) 1%,
		rgba(255, 255, 255,  0.2) 12%,
		rgba(255, 255, 255,  1.0) 12.5%,
		rgba(255, 255, 255,  0.2) 13%,
		rgba(255, 255, 255,  0.2) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  1.0) 50.5%,
		rgba(255, 255, 255,  0.2) 51%,
		rgba(255, 255, 255,  0.2) 62%,
		rgba(255, 255, 255,  1.0) 62.5%,
		rgba(255, 255, 255,  0.2) 63%,
		rgba(255, 255, 255,  0.2) 75%,
		rgba(255, 255, 255,  0.0) 75%
	),
	-ms-linear-gradient(-45deg, 
	
		rgba(255, 255, 255,  0.2) 0%,
		rgba(255, 255, 255,  1.0) 0.5%,
		rgba(255, 255, 255,  0.2) 1%,
		rgba(255, 255, 255,  0.2) 12%,
		rgba(255, 255, 255,  1.0) 12.5%,
		rgba(255, 255, 255,  0.2) 13%,
		rgba(255, 255, 255,  0.2) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  1.0) 50.5%,
		rgba(255, 255, 255,  0.2) 51%,
		rgba(255, 255, 255,  0.2) 62%,
		rgba(255, 255, 255,  1.0) 62.5%,
		rgba(255, 255, 255,  0.2) 63%,
		rgba(255, 255, 255,  0.2) 75%,
		rgba(255, 255, 255,  0.0) 75%
	),
	-ms-linear-gradient(45deg,
		rgba(255, 255, 255,  0.2) 0%,
		rgba(255, 255, 255,  1.0) 0.5%,
		rgba(255, 255, 255,  0.2) 1%,
		rgba(255, 255, 255,  0.2) 12%,
		rgba(255, 255, 255,  1.0) 12.5%,
		rgba(255, 255, 255,  0.2) 13%,
		rgba(255, 255, 255,  0.2) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  1.0) 50.5%,
		rgba(255, 255, 255,  0.2) 51%,
		rgba(255, 255, 255,  0.2) 62%,
		rgba(255, 255, 255,  1.0) 62.5%,
		rgba(255, 255, 255,  0.2) 63%,
		rgba(255, 255, 255,  0.2) 75%,
		rgba(255, 255, 255,  0.0) 75%
	),
	-ms-linear-gradient(-45deg, 
		rgba(255, 255, 255,  0.2) 0%,
		rgba(255, 255, 255,  1.0) 0.5%,
		rgba(255, 255, 255,  0.2) 1%,
		rgba(255, 255, 255,  0.2) 12%,
		rgba(255, 255, 255,  1.0) 12.5%,
		rgba(255, 255, 255,  0.2) 13%,
		rgba(255, 255, 255,  0.2) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  1.0) 50.5%,
		rgba(255, 255, 255,  0.2) 51%,
		rgba(255, 255, 255,  0.2) 62%,
		rgba(255, 255, 255,  1.0) 62.5%,
		rgba(255, 255, 255,  0.2) 63%,
		rgba(255, 255, 255,  0.2) 75%,
		rgba(255, 255, 255,  0.0) 75%
	)
	/* optional background gradient instead of gray */
	;
	background-image:	
	-o-linear-gradient(45deg,
		rgba(255, 255, 255,  0.2) 0%,
		rgba(255, 255, 255,  1.0) 0.5%,
		rgba(255, 255, 255,  0.2) 1%,
		rgba(255, 255, 255,  0.2) 12%,
		rgba(255, 255, 255,  1.0) 12.5%,
		rgba(255, 255, 255,  0.2) 13%,
		rgba(255, 255, 255,  0.2) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  1.0) 50.5%,
		rgba(255, 255, 255,  0.2) 51%,
		rgba(255, 255, 255,  0.2) 62%,
		rgba(255, 255, 255,  1.0) 62.5%,
		rgba(255, 255, 255,  0.2) 63%,
		rgba(255, 255, 255,  0.2) 75%,
		rgba(255, 255, 255,  0.0) 75%
	),
	-o-linear-gradient(-45deg, 
	
		rgba(255, 255, 255,  0.2) 0%,
		rgba(255, 255, 255,  1.0) 0.5%,
		rgba(255, 255, 255,  0.2) 1%,
		rgba(255, 255, 255,  0.2) 12%,
		rgba(255, 255, 255,  1.0) 12.5%,
		rgba(255, 255, 255,  0.2) 13%,
		rgba(255, 255, 255,  0.2) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  1.0) 50.5%,
		rgba(255, 255, 255,  0.2) 51%,
		rgba(255, 255, 255,  0.2) 62%,
		rgba(255, 255, 255,  1.0) 62.5%,
		rgba(255, 255, 255,  0.2) 63%,
		rgba(255, 255, 255,  0.2) 75%,
		rgba(255, 255, 255,  0.0) 75%
	),
	-o-linear-gradient(45deg,
		rgba(255, 255, 255,  0.2) 0%,
		rgba(255, 255, 255,  1.0) 0.5%,
		rgba(255, 255, 255,  0.2) 1%,
		rgba(255, 255, 255,  0.2) 12%,
		rgba(255, 255, 255,  1.0) 12.5%,
		rgba(255, 255, 255,  0.2) 13%,
		rgba(255, 255, 255,  0.2) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  1.0) 50.5%,
		rgba(255, 255, 255,  0.2) 51%,
		rgba(255, 255, 255,  0.2) 62%,
		rgba(255, 255, 255,  1.0) 62.5%,
		rgba(255, 255, 255,  0.2) 63%,
		rgba(255, 255, 255,  0.2) 75%,
		rgba(255, 255, 255,  0.0) 75%
	),
	-o-linear-gradient(-45deg, 
		rgba(255, 255, 255,  0.2) 0%,
		rgba(255, 255, 255,  1.0) 0.5%,
		rgba(255, 255, 255,  0.2) 1%,
		rgba(255, 255, 255,  0.2) 12%,
		rgba(255, 255, 255,  1.0) 12.5%,
		rgba(255, 255, 255,  0.2) 13%,
		rgba(255, 255, 255,  0.2) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  1.0) 50.5%,
		rgba(255, 255, 255,  0.2) 51%,
		rgba(255, 255, 255,  0.2) 62%,
		rgba(255, 255, 255,  1.0) 62.5%,
		rgba(255, 255, 255,  0.2) 63%,
		rgba(255, 255, 255,  0.2) 75%,
		rgba(255, 255, 255,  0.0) 75%
	)
	/* optional background gradient instead of gray */
	;
	background-color: #000000;
	background-position: 0 0, 0 0, 80px 50px, 80px 50px/*, 0 0*/;                                                         
	-moz-background-size: 160px 50px, 160px 50px,160px 50px, 160px 50px/*, 100%*/;                                            
	background-size: 160px 50px, 160px 50px,160px 50px, 160px 50px/*, 100%*/;
}



.whiteplaid2 {
	background-image:	
	-moz-linear-gradient(45deg,
		rgba(255, 255, 255,  0.2) 0%,
		rgba(255, 255, 255,  1.0) 0.5%,
		rgba(255, 255, 255,  0.2) 1%,
		rgba(255, 255, 255,  0.2) 12%,
		rgba(255, 255, 255,  1.0) 12.5%,
		rgba(255, 255, 255,  0.2) 13%,
		rgba(255, 255, 255,  0.2) 25%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.0) 50%,
		rgba(255, 255, 255,  1.0) 50.5%,
		rgba(255, 255, 255,  0.2) 51%,
		rgba(255, 255, 255,  0.2) 62%,
		rgba(255, 255, 255,  1.0) 62.5%,
		rgba(255, 255, 255,  0.2) 63%,
		rgba(255, 255, 255,  0.2) 75%,
		rgba(255, 255, 255,  0.0) 75%
	),
	-moz-linear-gradient(-45deg, 
	
		rgba(255, 255, 255,  0.0) 0%,
		rgba(255, 255, 255,  1.0) 0.5%,
		rgba(255, 255, 255,  0.0) 1%,
		rgba(255, 255, 255,  0.0) 12%,
		rgba(255, 255, 255,  1.0) 12.5%,
		rgba(255, 255, 255,  0.0) 13%,
		rgba(255, 255, 255,  0.0) 25%,
		rgba(255, 255, 255,  0.2) 25%,
		rgba(255, 255, 255,  0.2) 50%,
		rgba(255, 255, 255,  1.0) 50.5%,
		rgba(255, 255, 255,  0.0) 51%,
		rgba(255, 255, 255,  0.0) 62%,
		rgba(255, 255, 255,  1.0) 62.5%,
		rgba(255, 255, 255,  0.0) 63%,
		rgba(255, 255, 255,  0.0) 75%,
		rgba(255, 255, 255,  0.2) 75%
	);
	background-color: #000000;
	background-position: 80px 50px, 80px 50px/*, 0 0*/;                                                         
	-moz-background-size: 160px 50px, 160px 50px/*, 100%*/;                                                      
	background-size: 160px 50px, 160px 50px/*, 100%*/;
}
