.text {
    position: sticky;
    opacity: 0;
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-size: 135px;
    line-height: 0.7;
    animation: appear ease 2s 1 2s forwards;
}

.stext {
    position: absolute;
    opacity: 0;
    width: 100%;
    padding: 23% 22% 0 20%;
    box-sizing: border-box;
    font-weight: 300;
    text-align: right;
    color: white;
    font-size: 15px;
    line-height: 1;
    z-index: 4;
    animation: appear ease 2s 1 2s forwards;
}

@keyframes reveal {
    0% {
        clip-path: inset(20% 80% 20% 20%);
    }
    33% {
        clip-path: inset(20% 20% 20% 20%);
    }
    66% {
        clip-path: inset(20% 20% 20% 80%);
    }
    67% {
        clip-path: inset(20% 80% 20% 20%);
    }
    100% {
        clip-path: inset(20% 20% 20% 20%);
    }
}
@keyframes appear {
    0% {
        transform: translate(0, 2px);
        text-shadow: 0px 0px #0043d4;
    }
    50% {
        opacity: 1;
        transform: translate(0, 2px);
        text-shadow: 0px 0px #0043d4;
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
        text-shadow: 2px 2px #0043d4;
    }
}