#a
    .l.l1-fg{"tp" => "plx", "depth" => "0.1"}
    .l.l2{"tp" => "plx", "depth" => "0.2"}
    .l.l3{"tp" => "plx", "depth" => "0.5"}
    .l.l4{"tp" => "plx", "depth" => "0.8"}
    .l.l5-bg{"tp" => "plx", "depth" => "1"}

