#a
    .l.l1-fg{"data-type" => "plx", "depth" => "0.1"}
    .l.l2{"data-type" => "plx", "depth" => "0.2"}
    .l.l3{"data-type" => "plx", "depth" => "0.5"}
    .l.l4{"data-type" => "plx", "depth" => "0.8"}
    .l.l5-bg{"data-type" => "plx", "depth" => "1"}

